<% var defaultBg = '#4d4d4d'; %>
    <div class="overlay" style="background: <%= theme.style && theme.style.header ? '' : defaultBg %>">
        <div id="tp-weather-widget"></div>
        <script>
            (function(a, h, g, f, e, d, c, b) {
                b = function() {
                    d = h.createElement(g);
                    c = h.getElementsByTagName(g)[0];
                    d.src = e;
                    d.charset = "utf-8";
                    d.async = 1;
                    c.parentNode.insertBefore(d, c)
                };
                a["SeniverseWeatherWidgetObject"] = f;
                a[f] || (a[f] = function() {
                    (a[f].q = a[f].q || []).push(arguments)
                });
                a[f].l = +new Date();
                if (a.attachEvent) {
                    a.attachEvent("onload", b)
                } else {
                    a.addEventListener("load", b, false)
                }
            }(window, document, "script", "SeniverseWeatherWidget", "//cdn.sencdn.com/widget2/static/js/bundle.js"));
            window.SeniverseWeatherWidget('show', {
                flavor: "slim",
                location: "WS06YNEMPP18",
                geolocation: true,
                language: "zh-Hans",
                unit: "c",
                theme: "auto",
                token: "a579c7ea-507d-41d7-b578-3537882d20c2",
                hover: "enabled",
                container: "tp-weather-widget"
            })
        </script>
    </div>
    <div class="intrude-less">
        <header id="header" class="inner">
            <a href="<%=theme.root%>" class="profilepic">
			<img src="<%=theme.avatar%>" class="js-avatar">
		</a>
            <hgroup>
                <h1 class="header-author">
                    <a href="<%=theme.root%>">
                        <%=theme.author%>
                    </a>
                </h1>
            </hgroup>
            <% if (theme.subtitle){ %>
                <p class="header-subtitle">
                    <%=theme.subtitle%>
                </p>
                <%}%>

                    <nav class="header-menu">
                        <ul>
                            <% for (var i in theme.menu){ %>
                                <li>
                                    <a href="<%- url_for(theme.menu[i]) %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <%}%>
                        </ul>
                    </nav>
                    <nav class="header-smart-menu">
                        <% for (var i in theme.smart_menu){ %>
                            <% if(theme.smart_menu[i]){ %>
                                <a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)">
                                    <%= theme.smart_menu[i] %>
                                </a>
                                <% } %>
                                    <%}%>
                    </nav>
                    <nav class="header-nav">
                        <div class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
                                <%}%>
                        </div>
                    </nav>
        </header>
    </div>